/software/*
!/software/hyperfine/
!/software/hyperfine/bin/
!/software/hyperfine/bin/hyperfine
/results/
/data/
/src/cargo-home/
/src/rust-downloads/
/src/rustup-init
/src/rustup-init.sha256
/src/*.crate
/src/*.part
